<a href="https://colab.research.google.com/github/annz-gif/ML-projects/blob/main/NER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [2]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [8]:
doc = nlp("Tesla Inc is going to acquire Twitter Inc for 45$ billion")
for ent in doc.ents:
  print(ent.text,"|",ent.label_)

Tesla Inc | ORG
Twitter Inc | ORG
45$ billion | MONEY

In [9]:
for ent in doc.ents:
  print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label_))

Tesla Inc | ORG | Companies, agencies, institutions, etc.
Twitter Inc | ORG | Companies, agencies, institutions, etc.
45$ billion | MONEY | Monetary values, including unit

In [10]:
from spacy import displacy
displacy.render(doc,style="ent")

In [11]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [12]:
doc = nlp("The All India Tennis Association (AITA) claimed on Thursday that Sumit Nagal demanded an annual fee of $50,000 to play Davis Cup ties for India")
for ent in doc.ents:
  print(ent.text,"|",ent.label_)

The All India Tennis Association | ORG
AITA | ORG
Thursday | DATE
Sumit Nagal | LOC
annual | DATE
50,000 | MONEY
Davis Cup | WORK_OF_ART
India | GPE

In [13]:
from spacy.tokens import Span

In [24]:
doc[12:14]

Sumit Nagal

In [25]:
doc[10:11]

Thursday

In [26]:
s1= Span(doc,12,14,label="PERSON")
s2=Span(doc,10,11,label="DATE")
doc.set_ents([s1,s2],default="unmodified")

In [27]:
for ent in doc.ents:
  print(ent.text,"|",ent.label_)

The All India Tennis Association | ORG
AITA | ORG
Thursday | DATE
Sumit Nagal | PERSON
annual | DATE
50,000 | MONEY
Davis Cup | WORK_OF_ART
India | GPE